<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/login.css}" rel="stylesheet"/>-->
    <!--<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>-->
    <style type="text/css">

    </style>
</head>
<body>
    <div class="leftList">
        <span>待办事项</span>
        <li>1</li>
        <li>2</li>
    </div>
    <div class="main">
        <span>内容</span>
        <div>
            测试显示内容
            <p>待办事项内容</p>
        </div>
    </div>
</body>
</html>