<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <style type="text/css">

    </style>
</head>
<body>
    <div class="leftList">
        <span>待办事项</span>
        <li>1</li>
        <li>2</li>
    </div>
    <div class="main">
        <span>内容</span>
        <div>
            测试显示内容
            <p>待办事项内容</p>
        </div>
    </div>

    <form th:action="@{/program}" method="get">
        <input type="text" value="" id="programName">
        <input type="text" value="" id="id">

        <button>提交</button>
    </form>
</body>
</html>